USE [master]
GO
/****** Object:  Database [TMK.Maksim.Kulebyakin.Test.Base]    Script Date: 10.08.2022 18:26:14 ******/
CREATE DATABASE [TMK.Maksim.Kulebyakin.Test.Base]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMK.Maksim.Kulebyakin.Test.Base', FILENAME = N'' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TMK.Maksim.Kulebyakin.Test.Base_log', FILENAME = N'' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMK.Maksim.Kulebyakin.Test.Base].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMK.Maksim.Kulebyakin.Test.Base]
GO
/****** Object:  Table [dbo].[City]    Script Date: 10.08.2022 18:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CITY_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NOT NULL,
	[REGION_ID] [int] NOT NULL,
	[AOKRUG_ID] [int] NULL,
	[F_NORTH] [int] NULL,
	[TYPE_OF_LOCAL_SID] [int] NULL,
	[STATUS_OF_LOCAL_SID] [int] NOT NULL,
	[HIGH_POSTINDEX] [int] NULL,
	[LOW_POSTINDEX] [int] NULL,
	[BEGIN_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[F_INPUT] [int] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTS]    Script Date: 10.08.2022 18:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTS](
	[DOC_DATE] [date] NOT NULL,
	[SUM] [int] NOT NULL,
	[FIRM_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Firm]    Script Date: 10.08.2022 18:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firm](
	[FIRM_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](120) NOT NULL,
	[ALTERN_SYS_CODE] [int] NULL,
	[HOLDING_SYS_CODE] [int] NULL,
	[BUISINESS_PROP] [nvarchar](255) NULL,
	[POST_INDEX] [int] NULL,
	[JUR_INDEX] [int] NULL,
	[INN] [int] NULL,
	[OKPONH] [int] NULL,
	[OKPOKL] [int] NULL,
	[OKOGU] [int] NULL,
	[OKATO] [int] NULL,
	[CONT_STATION] [int] NULL,
	[VAGON_STATION] [int] NULL,
	[RAILWAY_CODE] [nvarchar](10) NULL,
	[DATE_CORR] [date] NULL,
	[USER_ID] [int] NULL,
	[PHONE] [nvarchar](16) NULL,
	[EMAIL] [nvarchar](30) NULL,
	[FAX] [nvarchar](16) NULL,
	[DATE_INN_CLOSE] [date] NULL,
	[OWNERSHIP_SID] [int] NOT NULL,
	[SPECIAL_SIGN] [int] NOT NULL,
	[RESERVE] [int] NULL,
	[VIP_SIGN] [int] NULL,
	[POST_ADDRESS] [nvarchar](100) NULL,
	[JUR_ADDRESS] [nvarchar](100) NULL,
	[POST_CITY_ID] [int] NULL,
	[JUR_CITY_ID] [int] NOT NULL,
	[LIC_NUMBER] [nvarchar](20) NULL,
	[BEGIN_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[F_INPUT] [int] NOT NULL,
 CONSTRAINT [PK_Firm] PRIMARY KEY CLUSTERED 
(
	[FIRM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CITY_ID], [NAME], [REGION_ID], [AOKRUG_ID], [F_NORTH], [TYPE_OF_LOCAL_SID], [STATUS_OF_LOCAL_SID], [HIGH_POSTINDEX], [LOW_POSTINDEX], [BEGIN_DATE], [END_DATE], [F_INPUT]) VALUES (1, N'Saratov', 25, 26, NULL, NULL, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[City] ([CITY_ID], [NAME], [REGION_ID], [AOKRUG_ID], [F_NORTH], [TYPE_OF_LOCAL_SID], [STATUS_OF_LOCAL_SID], [HIGH_POSTINDEX], [LOW_POSTINDEX], [BEGIN_DATE], [END_DATE], [F_INPUT]) VALUES (2, N'Moscow', 43, 27, NULL, NULL, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[City] ([CITY_ID], [NAME], [REGION_ID], [AOKRUG_ID], [F_NORTH], [TYPE_OF_LOCAL_SID], [STATUS_OF_LOCAL_SID], [HIGH_POSTINDEX], [LOW_POSTINDEX], [BEGIN_DATE], [END_DATE], [F_INPUT]) VALUES (3, N'Kazan', 87, 12, NULL, NULL, 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[City] OFF
GO
INSERT [dbo].[DOCUMENTS] ([DOC_DATE], [SUM], [FIRM_ID]) VALUES (CAST(N'1992-01-01' AS Date), 513, 2)
INSERT [dbo].[DOCUMENTS] ([DOC_DATE], [SUM], [FIRM_ID]) VALUES (CAST(N'1993-02-01' AS Date), 200, 5)
INSERT [dbo].[DOCUMENTS] ([DOC_DATE], [SUM], [FIRM_ID]) VALUES (CAST(N'1992-01-05' AS Date), 1000, 5)
GO
SET IDENTITY_INSERT [dbo].[Firm] ON 

SET IDENTITY_INSERT [dbo].[Firm] OFF
GO
ALTER TABLE [dbo].[DOCUMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTS_Firm] FOREIGN KEY([FIRM_ID])
REFERENCES [dbo].[Firm] ([FIRM_ID])
GO
ALTER TABLE [dbo].[DOCUMENTS] CHECK CONSTRAINT [FK_DOCUMENTS_Firm]
GO
ALTER TABLE [dbo].[Firm]  WITH CHECK ADD  CONSTRAINT [FK_Firm_City] FOREIGN KEY([POST_CITY_ID])
REFERENCES [dbo].[City] ([CITY_ID])
GO
ALTER TABLE [dbo].[Firm] CHECK CONSTRAINT [FK_Firm_City]
GO
ALTER TABLE [dbo].[Firm]  WITH CHECK ADD  CONSTRAINT [FK_Firm_City1] FOREIGN KEY([JUR_CITY_ID])
REFERENCES [dbo].[City] ([CITY_ID])
GO
ALTER TABLE [dbo].[Firm] CHECK CONSTRAINT [FK_Firm_City1]
GO
/****** Object:  StoredProcedure [dbo].[GetDocuments]    Script Date: 10.08.2022 18:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDocuments] 
	
AS
BEGIN
	SELECT YEAR as Год,
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=1),0) as 'Январь',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=2),0) as 'Февраль',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=3),0) as 'Март',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=4),0) as 'Апрель',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=5),0) as 'Май',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=6),0) as 'Июнь',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=7),0) as 'Июль',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=8),0) as 'Август',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=9),0) as 'Сентябрь',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=10),0) as 'Октябрь',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=11),0) as 'Ноябрь',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=X.[FIRM_ID] AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=12),0) as 'Декабрь'
	FROM (
	SELECT [FIRM_ID], YEAR([DOC_DATE]) AS YEAR FROM [TMK.Maksim.Kulebyakin.Test.Base].[dbo].[DOCUMENTS]
	GROUP BY YEAR([DOC_DATE]),[FIRM_ID]) X
END
GO
/****** Object:  StoredProcedure [dbo].[GetDocumentsByFirmId]    Script Date: 10.08.2022 18:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetDocumentsByFirmId]
	@FirmId int
AS
BEGIN
	SELECT YEAR as Год,
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=1),0) as 'Январь',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=2),0) as 'Февраль',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=3),0) as 'Март',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=4),0) as 'Апрель',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=5),0) as 'Май',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=6),0) as 'Июнь',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=7),0) as 'Июль',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=8),0) as 'Август',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=9),0) as 'Сентябрь',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=10),0) as 'Октябрь',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=11),0) as 'Ноябрь',
	ISNULL((SELECT SUM([SUM]) FROM [dbo].[DOCUMENTS] WHERE [FIRM_ID]=@FirmId AND YEAR=YEAR([DOC_DATE]) AND MONTH([DOC_DATE])=12),0) as 'Декабрь'
	FROM (
	SELECT YEAR([DOC_DATE]) AS YEAR FROM [TMK.Maksim.Kulebyakin.Test.Base].[dbo].[DOCUMENTS]
	GROUP BY YEAR([DOC_DATE]))
	X
END
GO
/****** Object:  StoredProcedure [dbo].[SearchByFirmNameAndCityName]    Script Date: 10.08.2022 18:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchByFirmNameAndCityName] 
	@FirmName nvarchar(120),
	@JurCityName nvarchar(20),
	@PostCityName nvarchar(20)
AS
BEGIN	
	SELECT TOP(100) F.FIRM_ID, F.[NAME], C.[NAME] as CityName, f.POST_CITY_ID, f.JUR_CITY_ID FROM dbo.Firm as F
		LEFT JOIN dbo.City as C
		ON C.CITY_ID = F.JUR_CITY_ID
		LEFT JOIN dbo.City as C2
		ON C2.CITY_ID = F.POST_CITY_ID
		WHERE (1 = CASE WHEN @FirmName IS NULL THEN 1
               WHEN @FirmName = f.[NAME] THEN 1
               ELSE 0 END)
			   AND (1 = CASE WHEN @JurCityName IS NULL THEN 1
               WHEN @JurCityName = c.[NAME] THEN 1
               ELSE 0 END)
			   AND (1 = CASE WHEN @PostCityName IS NULL THEN 1
               WHEN @PostCityName = c2.[NAME] THEN 1
               ELSE 0 END)
END
GO
USE [master]
GO
